{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Testimonios - TIKA</title>
  <link rel="stylesheet" href="{% static 'css/testimonios_publicos.css' %}">
</head>
<body>
<section class="testimonios-section">
  <h2 class="titulo">TESTIMONIOS</h2>
  <div class="testimonios-container">
   {% for t in testimonios %}
<div class="testimonio">
  <blockquote>"{{ t.contenido }}"</blockquote>
  <p><strong>- {{ t.relacion }}</strong></p>
  {% if t.imagen %}
    <img src="{{ t.imagen.url }}" alt="Foto de testimonio" width="100">
  {% endif %}
</div>
{% empty %}
  <p>No hay testimonios publicados todavía.</p>
{% endfor %}
  </div>
</section>
</body>
</html>