{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ✅ CSS personal -->
<link rel="stylesheet" href="{% static 'css/pacientes.css' %}">

<!-- ✅ DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.4/css/dataTables.dataTables.min.css">

<h2 class="titulo-pacientes">Lista de Pacientes</h2>

<a href="{% url 'pacientes_create' %}" class="btn-add">➕ Nuevo Paciente</a>

<table id="tablaPacientes" class="display">
    <thead>
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha Nacimiento</th>
            <th>Genero</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for paciente in pacientes %}
        <tr>
            <td>{{ paciente.dni_paciente }}</td>
            <td>{{ paciente.nombre }}</td>
            <td>{{ paciente.apellido }}</td>
            <td>{{ paciente.fecha_nacimiento }}</td>
            <td>{{ paciente.get_genero_display }}</td>
            <td>{{ paciente.telefono }}</td>
            <td>{{ paciente.email }}</td>
            <td>
                <a href="{% url 'pacientes_update' paciente.pk %}" class="btn-action btn-edit">✏️ Editar</a>
                <a href="{% url 'pacientes_delete' paciente.pk %}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="8">No hay pacientes registrados.</td></tr>
        {% endfor %}
    </tbody>
</table>

<!-- ✅ jQuery + DataTables JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<script>

$(document).ready(function () {
    $('#tablaPacientes').DataTable({
        paging: false,
        searching: true,
        info: false,
        language: {
            search: "Buscar paciente:",
            url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json'
        }
    });
});
</script>


</script>
{% endblock %}