{% load static %}
<section id="footer" class="footer">
    <p>© 2025 TIKA. Todos los derechos reservados.</p>
    <p>Diseñado por <a href="Isa Agustina y Sandoval Gimena">Isa Agustina y Sandoval Gimena.</a></p>
    <p>¡Seguinos en nuestras redes sociales!</p>
    <div class="social-icons">
      <a href="https://www.facebook.com/tikaespacioterapeutico" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://www.instagram.com/tika.et" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
</section>
