{% load static %}
<section id="inicio" class="content home">
    <h2 class="title"> ¡BIENVENIDOS A TIKA! </h2>
    <p class="subtitle-yellow">Tu espacio para aprender y crecer.</p>
    <div class="btn-home">
        <a href="{% url 'login' %}" class="btn register-btn"> 
          <i class="bi bi-box-arrow-in-right"></i> Ingresar
        </a>
        <a href="{% url 'registro' %}" class="btn register-btn btn-registro">
          <i class="bi bi-person-plus"></i> Registrarse
        </a>
    </div>
</section>
