{% load static %}
<section id="testimonios" class="content testimonials">
   <h2 class="title">Testimonios</h2>

   <div class="text-center mt-4 mb-4">
   <a href="{% url 'enviar_testimonio' %}" class="btn-enviar-testimonio">
   💬 Enviar tu testimonio
    </a>
   </div>

   <div class="testimonial-container">
        {% if testimonios %}
        {% for t in testimonios %}
         <div class="testimonial">
      <p>"{{ t.contenido }}"</p>
      <h3>- {{ t.relacion }}</h3>

      {% if t.imagen %}
        <figure class="testimonio">
          <img src="{{ t.imagen.url }}" alt="Imagen del testimonio de {{ t.usuario.username }}" width="600" height="500">
        </figure>
      {% else %}
        <figure class="testimonio">
          <img src="{% static 'img/logotikadash.png' %}" alt="Testimonio sin imagen" width="600" height="500">
        </figure>
      {% endif %}
    </div>
  {% endfor %}
{% else %}
  <p>No hay testimonios publicados todavía.</p>
{% endif %}
</div>
</section>
