{% load static %}
<section id="test" class="content test">
    <h2 class="title">Test</h2>
    <p>Realizamos evaluaciones y diagnósticos para comprender mejor las necesidades de cada niño y adolescente. 
      Nuestros tests abarcan áreas como el desarrollo cognitivo, emocional, social y motor, permitiéndonos diseñar 
     un plan de intervención personalizado y efectivo.
    </p>

    <div class="btn-home mt-4">
        <a href="{% url 'entrevista' %}" class="btn register-btn"> 
          Realizar Entrevista
        </a>
    </div>
</section>
