{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
  <link rel="stylesheet" href="{% static 'css/gestionturnos.css' %}">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TIKA · Gestión de Turnos</title>
  
</head>
<body>
  

  <!-- Formulario -->
  <section class="card">
    <h2>Asignar nuevo turno</h2>
    <form>
      <label>Paciente:</label>
      <select>
        <option>— Seleccionar —</option>
        <option>Juan Pérez (DNI 12345678)</option>
        <option>María Gómez (DNI 87654321)</option>
      </select>

      <label>Profesional:</label>
      <select>
        <option>— Seleccionar —</option>
        <option>Lic. Sol Espasandin(Psicomotricidad)</option>
        <option>Lic. Carlos Herrera(Kinesiología)</option>
        <option>Lic. Mailen Danilowicz(Psicología)</option>
        <option>Lic. Silvina Diaz(Psicología)</option>
        <option>Lic. Carolina Herrera(Psicopedagogía)</option>
        <option>Lic. Monica Palacios Cañizares(Fonoaudiología)</option>
        <option>Lic. Itati Gordillo(Psicopedagogía)</option>
      </select>

      <label>Fecha:</label>
      <input type="date">

      <label>Hora:</label>
      <input type="time">

      <button type="submit">Guardar turno</button>
    </form>
  </section>

  <!-- Lista de turnos -->
  <section class="card">
    <h2>Turnos programados</h2>
    <ul class="lista-turnos">
      <li>
        <span class="detalle">26/08/2025 · 10:00 · Juan Pérez · Psicología (Lic. Silvina Diaz)</span>
      </li>
      <li>
        <span class="detalle">26/08/2025 · 15:00 · María Gómez · Fonoaudiología (Lic. Monica Palacios Cañizares)</span>
      </li>
    </ul>
  </section>
</body>
</html>
{% endblock %}